

$brown: #a44f26;
$lightBrown: #fce2c6;
@mixin disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

.contact_main {
	position: relative;
	min-height: 500px;
	background-color: $lightBrown;
	min-width: 100%;
}

.contact_main_wrap {
	position: relative;
	width: 100%;
	min-height: 300px;
	display: flex;
	padding-top: 200px;
}

.contact_upgentitle {
	display: flex;
	min-height: 40px;
	width: 250px;
	position: absolute;
	left: 50%;
	top: 100px;
	transform: translateX(-50%);
	text-align: center;
	flex-direction: column;
	z-index: 2;
	opacity: 0;
	margin: 0 0 0 -100px;
	animation: 1s ctmwrabrw_txtct linear forwards;
	span:first-child {
		font-family: "Pacifico", cursive;
		font-size: 45px;
	}
	span:nth-child(2) {
		height: 40px;
		width: 100%;
		position: relative;
		margin-top: -10px;
		background: url('../media/about/ab_vint_under.png');
		background-size: 80% 70%;
		background-repeat: no-repeat;
		background-position: 50%;
	}
}

@keyframes ctmwrabrw_txtct {
	from {
		margin: 0 0 0 -100px;
		opacity: 0;
	}
	to {
		opacity: 1;
		margin: 0;
	}
}

.contact_mwr_half {
	position: relative;
	min-height: 600px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.contact_mwrh_f {
	width: 60%;
	padding: 40px;
}

.st_mrwh_leftbubb {
	position: absolute;
	left: -200px;
	margin-left: -250px;
	top: 50px;
	width: 500px;
	height: 500px;
	background: linear-gradient(30deg, #fce2c6, #F5C188);
	border-radius: 50%;
	opacity: 0;
	z-index: 1;
	animation: st_mwrhlefbb_anim .4s cubic-bezier(.17, .67, .89, 1.18) forwards;
	animation-delay: .45s;
}

.st_mrwh_leftbubb_sec,
.st_mrwh_leftbubb_th {
	position: absolute;
	left: 450px;
	margin-left: -250px;
	bottom: 0;
	width: 60px;
	height: 60px;
	background: linear-gradient(260deg, #fce2c6, #F5C188);
	border-radius: 50%;
	opacity: 0;
	z-index: 1;
	animation: st_mwrhlefbb_anim .4s cubic-bezier(.17, .67, .89, 1.18) forwards;
	animation-delay: .7s;
}

.st_mrwh_leftbubb_th {
	background: linear-gradient(90deg, #fce2c6, #F5C188);
	bottom: 100px;
	left: 500px;
	height: 30px;
	width: 30px;
	animation-delay: .8s;
}

@keyframes st_mwrhlefbb_anim {
	from {
		margin-left: -250px;
		opacity: 0;
	}
	to {
		margin-left: 0;
		opacity: 0.8;
	}
}

.op_h_titxt,
.contact_deftitle {
	font-size: 40px;
	font-family: "Pacifico", cursive;
	z-index: 2;
	border-bottom: 1px solid rgba(164, 79, 38, 0.2);
	min-width: 100%;
	margin-bottom: 20px;
	padding-left: 20px;
}

.op_h_txt_wraph {
	width: 90%;
	min-height: 200px;
	font-family: "Londrina Solid", cursive;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 20px;
	padding-top: 20px;
	z-index: 2;
	div {
		display: flex;
		flex-direction: row;
		width: 100%;
		min-height: 30px;
		span {
			font-size: 22px;
			width: 50%;
		}
	}
}

.oph_txtwr_phone {
	font-family: "Londrina Solid", cursive;
	z-index: 2;
	font-size: 30px;
	i {
		margin-right: 10px;
	}
}

.contact_mwrh_s {
	width: 40%;
	padding-top: 100px;
	align-items: center;
	@include disable-select;
	img {
		width: 70%;
		max-width: 360px;
		min-width: 250px;
		height: auto;
	}
}

// Second wrap
.contact_main_wrap_sec {
	position: relative;
	width: 100%;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	padding: 40px;
}

.contact_mainwrap_maploc {
	height: 400px;
	width: 100%;
	display: flex;
}

.contact_mainwrsec_addr {
	margin-top: 20px;
	font-size: 18px;
	font-family: "Domine", serif;
	i {
		font-size: 23px;
		margin-right: 10px;
	}
}


/*Send message cont*/

.contact_sendmsg_cont {
	position: relative;
	min-width: 100%;
	min-height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px;
}

.ct_sendmsg_wrap {
	position: relative;
	width: 70%;
	min-height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.ct_smsg_wrct {
	width: 100%;
	min-height: 40px;
	border: 1px solid #BBBBBB;
	margin: 10px 0 10px 0;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 10px 0 #DCCFC1;
	input,
	textarea {
		position: absolute;
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
		padding: 0 12px 0 12px;
		font-family: "Domine", serif;
		font-size: 14px;
	}
	textarea {
		padding: 12px;
		resize: none;
	}
}

.ct_smsg_name_wr {
	width: 100%;
	min-height: 40px;
	display: flex;
	justify-content: space-between;
	margin: 10px 0 10px 0;
	overflow: hidden;
	input {
		position: absolute;
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
		padding: 0 12px 0 12px;
		font-size: 14px;
	}
}

.ct_smsg_name_wr_insidewr {
	height: 40px;
	width: 40%;
	position: relative;
	display: flex;
	border: 1px solid #BBBBBB;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 10px 0 #DCCFC1;
	font-family: "Domine", serif;
}

.ct_smsg_msg_wr {
	min-height: 160px;
}

.ct_sendmsg_btnact {
	width: 180px;
	height: 40px;
	background: rgba(164, 79, 38, 0.4);
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	cursor: pointer;
	@include disable-select;
	color: #fff;
	font-size: 14px;
	margin-top: 20px;
	&:hover {
		opacity: 0.9;
	}
	&:active {
		box-shadow: 0 0 10px 0 #DCCFC1;
	}
}

@media (max-width: 550px) {
	.contact_main_wrap_sec,
	.contact_sendmsg_cont {
		padding: 10px;
	}
	.op_h_titxt {
		font-size: 30px;
		margin-top: 20px;
	}
	.ct_sendmsg_btnact {
		&:hover {
			opacity: 1;
		}
	}
	.oph_txtwr_phone {
		font-size: 25px;
	}
	.contact_mainwrsec_addr {
		font-size: 14px;
	}
}


/*Social*/

.contact_social_cont {
	position: relative;
	min-height: 100px;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
}

.ct_social_wrap {
	width: 350px;
	display: flex;
	justify-content: center;
}

.c_soci_wricon {
	width: 40px;
	height: 40px;
	position: relative;
	border-radius: 50%;
	margin: 0 15px 0 15px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: rgba(164, 79, 38, 0.8);
	&:hover {
		opacity: 0.9;
		text-decoration: none;
	}
}

@media (max-width: 900px) {
	.contact_main_wrap {
		flex-direction: column;
	}
	.contact_mwr_half {
		width: 100%;
		min-height: 330px;
		overflow: visible;
	}
	.contact_mwrh_s {
		padding-top: 0;
	}
	.ct_sendmsg_wrap {
		width: 100%;
	}
	.ct_smsg_name_wr {
		margin: 0;
		flex-direction: column;
	}
	.ct_smsg_name_wr_insidewr {
		width: 100%;
		margin: 10px 0 10px 0;
	}
	.contact_mwrh_f {
		padding: 10px;
	}
	.op_h_txt_wraph {
		padding: 20px 40px 20px 40px;
	}
	.oph_txtwr_phone {
		padding: 0 40px 0 40px;
	}
}

@media (max-width: 550px) {
	.contact_mwrh_s {
		img {
			width: 50%;
			margin: 50px 0 50px 0;
		}
	}
}

